node_modules/
/temp.js

# Mac OS Temporary Files
.DS_Store
._*

# ignore contents of files(uploads) folder but keep the folder itself
files/*
!files/.gitkeep

# env files
.env

# docker compose files(to avoid data/config leaks)
docker-compose.yml