version: "3"
services:
  dropit_app:
    build:
      context: .
      dockerfile: ./dockerfiles/dockerfile_dropitapp
      args:
        - PORT
        - MONGO_USERNAME
        - MONGO_PASSWORD
        - MONGO_DATABASE=${MONGO_INITDB_DATABASE}
        - DB_HOST=dropit_database
        - NODE_ENV
    env_file: .env
    restart: always
    ports:
      - 7000:7000
    depends_on:
      - dropit_database
    networks:
      - default
  dropit_database:
    image: mongo:3.4-jessie
    env_file: ./.env
    restart: always
    ports:
      - 27017:27017
    volumes:
      - dropit_database_disk:/data/db
      - ./dockerfiles/init_db.sh:/docker-entrypoint-initdb.d/init_db.sh
    networks:
      - default
volumes:
  dropit_database_disk:
networks:
  default: