<!doctype html
   <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
   <title>DropIt - Upload files, for free, and share them...</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="application-name" content="&nbsp;" />
   <meta name="msapplication-TileColor" content="#FFFFFF" />
   <link rel="canonical" href="index.html">
   <link rel="stylesheet" href="/stylesheets/libs/bootstrap.min5c33.css?149425225">
   <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="/stylesheets/libs/animate.min.css">
   <link rel="stylesheet" href="/stylesheets/styles.css?149425225">
   <link rel="stylesheet" href="/stylesheets/dropzone5c33.css?149425225" />
   <link rel="stylesheet" href="/stylesheets/tooltips.css" />
   <link rel="stylesheet" href="/stylesheets/purple.css">
   <link rel="stylesheet" href="/stylesheets/responsive.css">
   <link href="/stylesheets/libs/jquery.growl.css" rel="stylesheet" type="text/css" />
   <script src="/js/libs/jquery.min5c33.js?149425225"></script>
   <script src="/js/libs/clipboard.min5c33.js?149425225"></script>
   <script src="/js/tooltips5c33.js?149425225"></script>
   <script src="/js/libs/jquery.growl5c33.js?149425225"></script>
   <script src="/js/libs/dropzone5c33.js?149425225"></script>
   <script>Dropzone.autoDiscover = false;</script>
   <script src="/js/libs/bootstrap.min5c33.js?149425225"></script>
   <script src="/js/main.js?149425225"></script>
   <script src="/js/libs/jquery.gradientify5c33.js?149425225"></script>
</head>
<body class="home">
   <a href="https://github.com/ThalKod/DropIt" class="github-corner" aria-label="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#64CEAA; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style> 
   <div class=" wrapper header solid-color">
      <div class="color-overlay">
         <div class="container">
            <div class="only-logo">
               <div class="">
                  <div class="navbar-header">
                     <a title="Upload files for free" href="/">
                     <img src="/img/logo.png" alt="Upload Files" width="125">
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="intro-section">
                     <h1 id="main-title" class="intro">Just Drop It !</h1>
                     <h5 id="second-title" class="intro">Secure, free. Simply Drop your files to share it...</h5>
                     <div id="uf-uploader">
                        <form class="ufzone needsclick" id="upload-window">
                           <div class="dz-message needsclick">
                              Drop file here or click to upload. (20MB max)<br />
                           </div>
                        </form>
                     </div>
                     <p class="promo">As this is a demo, keep in mind your files will not be hosted forever </p>
                     <h5 class="">Want to host your files forever ? <a href="/">Get back to us soon...</a></h5>
                     <div id="edit">
                        <h3>Done! Your file is available at:</h3>
                        <div class="upload-link-container">
                           <input onClick='this.select();' id="copylink" class='upload-link' type='text' value='' />
                           <div class='copy' id="copybutton" title='Copy URL' data-clipboard-target="#copylink" >
                              <i class="fa fa-clipboard" aria-hidden="true"></i>
                           </div>
                        </div>
                        <div id="share-file">
                           <h3>Share this file directly</h3>
                           <a href="javascript:void(0);" title="Copy URL" class='standard-button copybutton copy' data-clipboard-target="#copylink">
                           <i class="fa fa-clipboard"></i> Copy File URL
                           </a>
                        </div>
                        <a class="btn btn-default btn-lg standard-button upload-button" href="/">
                        <i class="fa fa-cloud-upload"></i>Upload another file
                        </a>
                     </div>
                     <div class="recent-uploads"></div>
                     
                     <div class="stats">
                        <div class="col-md-6 wow fadeIn animated animated" data-wow-offset="10" data-wow-duration="2s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeIn;">
                           <h2 id="download-count">-<%= dTime %>-</h2>
                           <p>Downloads</p>
                        </div>
                        <div class="col-md-6 wow fadeIn animated animated" data-wow-offset="10" data-wow-duration="2s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeIn;">
                           <h2 id="file-count">-<%= uploadTime %>-</h2>
                           <p>Uploads</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="container">
         <div class="contact-box wow animated" data-wow-offset="10" data-wow-duration="1.5s">
            <div class="btn contact-button expand-form expanded">
               <a href="/"><img width="50" src="/img/logo.png" alt="Drop logo" class="responsive-img"></a>
            </div>
         </div>
         <p class="copyright">
            ©2018 DropIt, All Rights Reserved.
         </p>
      </div>
   </footer>
</body>
</html>
